:root {
      --light-green: #80da82;
      --red: #f07171;
      --grey: #25283d;
      /* Colors for mini-boards */
      --primary: #7EB77F;
      --secondary: #cce7d7;
      --off-white: #f4fff4;
      --symbol: #001c12bf;
      /* Colors for disabled mini-boards */
      --default-bg-color: #25283d;
      --odd-bg-color: #6b7280;
}

header {
      padding: 1rem;
}

h1,
h2 {
      text-align: center;
}

.instructions {
      max-width: 800px;
      margin: 0 auto;
}

ul,
li {
      margin: 10px 0;
}

.highlight {
      font-weight: bold;
}

.main-board {
      aspect-ratio: 1/1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      border: 10px solid var(--grey);
      border-radius: 10px;
      width: 75%;
      margin: 2rem auto;
}

.mini-board {
      aspect-ratio: 1/1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      position: relative;
}

.mini-board:focus-visible {
      outline: none;
}

.cell {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      background-color: var(--primary);
      font-family: cursive;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      cursor: pointer;
      padding: 0;
      border: 0;
}

.cell:focus-visible {
      outline: none;
}

.mini-board:nth-child(2n + 1) .cell {
      background-color: var(--secondary);
      color: var(--off-white);
}

.scoreboard {
      text-align: center;
      display: flex;
      justify-content: space-around;
}

.scoreboard div {
      border: 2px outset buttonborder;
      /* border-width: 2px;
      border-style: outset;
      border-color: buttonborder; */
}

.score-x,
.score-o,
.score-ties,
#reset-button {
      display: inline-block;
      padding: 10px 20px;
      margin: 1rem auto;
      background-color: var(--light-green);
      color: var(--off-white);
      font-size: 18px;
      border-radius: 5px;
}

#reset-button {
      display: flex;
      background-color: var(--red);
}

.large-symbol {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 200px;
      color: var(--symbol);
      pointer-events: none;
}