:root {
      --blue: #007bff;
      --light-blue: #53a2be;
      --grey: #25283d;
      --primary: #a64253;
      --secondary: #bcabae;
      --off-white: #f4fff4;
      --shadow: rgba(0, 0, 0, 0.75);
}

h1,
h2 {
      text-align: center;
}

.instructions {
      max-width: 800px;
      margin: 0 auto;
}

ul {
      margin: 10px 0;
}

.highlight {
      font-weight: bold;
      color: var(--blue);
}

.main-board {
      aspect-ratio: 1/1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      border: 10px solid var(--grey);
      border-radius: 10px;
      width: 75%;
      margin: 2rem auto;
}

.mini-board {
      aspect-ratio: 1/1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      position: relative;
}

.mini-board:focus-visible {
      outline: none;
}

.cell {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      background-color: var(--primary);
      font-family: cursive;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      cursor: pointer;
      padding: 0;
      border: 0;
}

.cell:focus-visible {
      outline: none;
}

.mini-board:nth-child(2n + 1) .cell {
      background-color: var(--secondary);
      color: var(--off-white);
}

.winner {
      background-color: var(--grey);
}

.scoreboard {
      margin-top: 20px;
      text-align: center;
      display: flex;
      justify-content: space-around;
}

.score-x,
.score-o,
.score-ties,
#reset-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--light-blue);
      color: var(--off-white);
      margin: 1rem auto;
      font-size: 18px;
      border-radius: 5px;
}

#reset-button {
      display: flex;
      background-color: var(--primary);
}

.large-symbol {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 200px;
      color: var(--shadow);
      pointer-events: none;
}