h1,
h2 {
      text-align: center;
}
.instructions {
      max-width: 800px;
      margin: 0 auto;
}
ul {
      margin: 10px 0;
}
.highlight {
      font-weight: bold;
      color: #007bff;
}

.main-board {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      border: 10px solid #25283d;
      border-radius: 10px;
      width: 75%;
      margin: auto;
}

.mini-board {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      position: relative;
}

.cell {
      width: auto;
      height: 65px;
      background-color: #a64253;
      font-family: cursive;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      cursor: pointer;
}

.mini-board:nth-child(2n + 1) .cell {
      background-color: #bcabae;
      color: white;
}

.winner {
      background-color: #25283d;
}

.scoreboard {
      margin-top: 20px;
      text-align: center;
      display: flex;
      justify-content: space-around;
}

.score-x,
.score-o,
.score-ties,
#reset-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #53a2be;
      color: white;
      margin: 10px;
      font-size: 18px;
      border-radius: 5px;
}

#reset-button {
      display: flex;
      background-color: #a64253;
}

.large-symbol {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 200px; /* Adjust size as needed */
      color: rgba(0, 0, 0, 0.75); /* Light color to make it subtle */
      pointer-events: none; /* So it doesn't interfere with clicks */
}
